# The image copies pyproject.toml, README.md and canopy/ — nothing else — but Docker and
# Cloud Build upload the whole directory as context first. Without this file that upload is every
# run, every PDF and the virtualenv: gigabytes, some of it copyrighted, none of it needed.
*
!pyproject.toml
!README.md
!canopy/
canopy/**/__pycache__/
canopy/**/*.pyc
canopy/**/.DS_Store
